# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
.dockerignore

# Google Cloud
credentials.json
service-account.json
*-credentials.json
*.key.json
/terraform/terraform.tfstate.1769945219.backup
/terraform/terraform.tfstate.1769944115.backup
/terraform/terraform.tfstate.1769943794.backup
/terraform/terraform.tfstate.1769945481.backup